__pycache__/
*.pyc
*.pyo
*.pyd
*.DS_Store
*.pt
*.onnx
*.engine
recordings/
log.log
draft/img/received_images
draft/yolo/detections
draft/requests/api_subscriber.log
build/
dist/
.eggs/
*.so
*.log

.git/
.github/
.vscode/

report/
resource/
draft/
detection_models/

**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache/
**/.mypy_cache/

**/*.mp4
**/*.avi
**/*.mkv
**/*.mov
**/*.jpg
**/*.jpeg
**/*.png
**/*.webp
